---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a, b) => 
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Provolve Blog">
  <main>
    <h1 class="text-4xl font-bold mb-8">Provolve Blog</h1>
    <ul class="space-y-4">
      {sortedPosts.map((post) => (
        <BlogPost post={post} />
      ))}
    </ul>
  </main>
</Layout>

